
<body>
    <div class="main-container">
        <div>
            <form>
                <label for="file" class="file-input">
                </label>
                <input type="file" id="file" class="form-control">
            </form>
            <div class="button-container">
                <button id="submitFileBtn" class="btn btn-submit-file">TRANSLATE</button>
            </div>

            <div id="text-log" class="text-log text-log-notification">
                <p id="outputText"></p>
            </div>
        </div>
    </div>
</body>
