<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-ASR</title>
    <link rel="stylesheet" href="/css/translate.css">
    
</head>
<body>
    <div class="main-container">
        <div>
            <form>
                <label for="file" class="file-input">
                    <img src="/assets/image/upload.png" id="file-input-image" alt="">
                </label>
                <input type="file" id="file">
            </form>
            <div class="button-container">
                <button id="submitFileBtn">TRANSLATE</button>
                <div id="submitBtnFilter" class="button-hover-filter"></div>
            </div>
            <div>
                <p id="outputText"></p>
            </div>

            <div class="text-log text-log-succeed">
                Some text
            </div>
        </div>
    </div>
</body>
<script src="/js/translate.js"></script>
</html>